<header>
    <nav class="navbar help navbar-expand-lg navbar-light">
        <div class="container-fluid" >
            <%- include('../notification.ejs') %>
            <a href = "#" class="notification"><img src="/views/icons/theme.svg" alt="theme" class="headerControlIcon hover"></a>
        </div>
    </nav>
</header>