<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid" >
            <%- include('../notification.ejs') %>
            <div>
              <img src="/views/usedPictures/logo.svg" class="highLogo" alt="logo">
            </div>
            <div id = "menuid" class = "menu">
                <button id = "btn" class="click"><a href = "#"><img src="/views/icons/sort.svg" alt="info" class="headerControlIcon hover"></a></button>
                <div id = "listid" class="list sort" >
                    <form>
                        <p>
                            По місцеперебуванню:
                        </p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label sortRadio" for="flexRadioDefault1">
                              По всій Україні
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label sortRadio" for="flexRadioDefault2">
                              По моїй області
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label sortRadio" for="flexRadioDefault3">
                              По району області
                            </label>
                          </div>
                    </form>
                    <hr>
                    <form>
                        <p>
                            По типу допомоги:
                        </p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck1">
                            <label class="form-check-label sortRadio" for="flexCheckDefault">
                              Ліки
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                            <label class="form-check-label sortRadio" for="flexCheckChecked">
                              Медичні прилади
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck3">
                            <label class="form-check-label sortRadio" for="flexCheckChecked">
                              Харчування
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck4" checked>
                            <label class="form-check-label sortRadio" for="flexCheckChecked">
                              Вода
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck5" >
                            <label class="form-check-label sortRadio" for="flexCheckChecked">
                              Одяг
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck6" checked>
                            <label class="form-check-label sortRadio" for="flexCheckChecked">
                              Засоби самооборони
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck7">
                            <label class="form-check-label sortRadio" for="flexCheckChecked">
                              Засоби гігієни
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheck8">
                            <label class="form-check-label sortRadio" for="flexCheckChecked">
                              Інше
                            </label>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header> 