<div class="applicationCardMain">
    <div class="applicationHeader main">
        <div class="photoDate">
            <img class="mainProfileIcon" src="/views/usedPictures/male.svg" alt="user">
            <div>
                <p class="text3">Моє ім'я та прізвище</p>
                <p class="smallDate">22.04.2022 22:33</p>
            </div>
        </div>
        <div class="markButton">
            <i class="fa-solid fa-exclamation fa-xl"></i>
            <i class="fa-solid fa-heart-crack fa-xl"></i>
        </div>
    </div>
    <div class="applicationText">
        <p>Я знаходжусь в...</p>
        <p>Мені потрібні ліки</p>
        <p>Інсулін 2 ампули</p>
    </div>
    <div class="buttonMain">
        <a href="#" class="btn">Допомогти</a>
    </div>
</div>