<div class="modal" id="modal_confirm" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
				<span id="modal_confirm_message">#Body</span>
				<hr>
				<div class="modalButtons">
					<button class="btn btn-dark" id="modal_confirm_no" data-bs-dismiss="modal">#No</button>
					<button class="btn btn-dark" id="modal_confirm_yes" data-bs-dismiss="modal">#Yes</button>
				</div>
		</div>
	</div>
</div>