<div class="controlPanel">
	<div class="item">
		<button type="button" class="btn btn-dark" id="profile" onclick="window.location.href='profile'"><img src="/views/icons/profile.svg" alt="/profile" class="controlIcon"></button>
	</div>
	<div class="item">
		<button type="button" class="btn btn-dark" id="info" onclick="window.location.href='info'"><img src="/views/icons/info.svg" alt="/info" class="controlIcon"></button>
	</div>
	<div class="item">
		<button type="button" class="btn btn-dark" id="main" onclick="window.location.href='main'"><img src="/views/icons/home.svg" alt="/home" class="controlIcon"></button>
	</div>
	<div class="item">
		<button type="button" class="btn btn-dark" id="volunteerApplication" onclick="window.location.href='volunteerApplication'"><img src="/views/icons/volunteer.svg" alt="volunteer" class="controlIcon"></button>
	</div>
	<div class="item">
		<button type="button" class="btn btn-dark" id="neederApplication" onclick="window.location.href='neederApplication'"><img src="/views/icons/needer.svg" alt="needer" class="controlIcon"></button>
	</div>
</div>