<div id="menuid2" class = "menu">
    <button class="click_2">
        <a href = "#">
            <span class="fa-stack">
                <img src="/views/icons/bell.svg" alt="bell" class="bellIcon hover">
                <i class="fa fa-circle fa-stack-1x circle"></i>
            </span>
        </a>
    </button>
    <div id="listid2" class="list_2">
        <%- include('notification/noticeMerge.ejs') %>
        <%- include('notification/noticeFinish.ejs') %>
    </div>
</div>