<div class = "items">
    <div class="applicationCard">
        <div class="applicationHeader">
            <div class="date"><p class="text">22.04.2022 22:33</p></div>
            <div class="markButton">
                <div class = "threePoints">
                    <button class = "click_3"><a><img src="/views/icons/dots.svg" alt="threeDots" class="dotsIcon hover"></a></button>
                    <div class = "dropPoints">
                        <a class="btn editingApp" role="button" id="liveToastBtn6">Видалити оголошення</a>
                        <a class="btn editingApp" role="button" id="liveToastBtn7">Редагувати оголошення</a>
                    </div>
                </div>
                <i class="fa-solid fa-exclamation fa-xl"></i>
                <i class="fa-solid fa-heart-crack fa-xl"></i>
            </div>
        </div>
        <div class="applicationText">
            <p>Моє ім'я та прізвище</p>
            <p>Я знаходжусь в...</p>
            <p>Мені потрібні ліки</p>
            <p>Інсулін 2 ампули</p>
            <p>ТЕРМІНОВО</p>
        </div>
    </div>
</div>