<div class = "inProgress">
    <div class="applicationCardInProgress">
        <div class="applicationHeader">
            <div class="date">
                <p class="text2">23.04.2022 13:21</p>
                <p class="answer">↪ 22.04.2022 22:33</p>
            </div>
            <div class="markButton"><i class="fa-solid fa-heart fa-xl"></i></div>
        </div>
        <div class="applicationText">
            <p>Категорія: ліки</p>
            <p>Я прошу: Інсулін</p>
            <p>Мені пропонують: Інсулін 10 амп.</p>
            <p>Волонтер: <strong>Ім'я</strong></p>
            <p>Контактні дані: +38 0** *** ** **</p>
            <p class="email">email@gmail.com</p>
        </div>
        <div class="applicationInProgressFooter">
            <button role="button" class="btn btn-light" id="liveToastBtn8"><img src="/views/icons/cancel.svg" alt="cancel" class="cancelIcon"></button>
            <button role="button" class="btn btn-light" id="liveToastBtn9"><img src="/views/icons/finish.svg" alt="finish" class="finishIcon"></button>
        </div>
    </div>
</div>