<div class="profileCard">
    <div class="profilePhoto">
        <div><img src="/views/usedPictures/male.svg" alt="woman"></div>
    </div>
    <div class="profileInfo">
        <div>
            <p>Ім'я Прізвище</p>
            <p>Місцезнаходження:</p>
            <p>Область,</p>
            <p>Район області</p>
            <p>Номер телефон</p>
            <p>Email</p>
        </div>
    </div>
</div>