<div class="application">
    <a class="btn btn-dark isBoss" role="button" id="liveToastBtn12">Скасувати</a>
    <a class="btn btn-dark" role="button" onclick="showModalOfCreatingApplication()">Створити</a>
</div>