<form class = "items infoItem">
    <h2 class="formH2">Ваша інформація з акаунту:</h2>
    <hr>
    <div class="info">
        <p>Ім'я: ім'я</p>
        <br>
        <p>Прізвище: прізвище</p>
        <br>
        <p>Місцезнаходження: область, район</p>
        <br>
        <p>Номер телефону: +38 *** ** *** **</p>
        <br>
        <p>Email: mail@gmail.com</p>
    </div>
</form>